<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React</title>
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  </head>
  <body>
    <div id="gamelist"></div>
    <script type="text/babel">
      var user_id = <%= user.id %>;

      function ajax_req(method, url, cb) {
        let xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
          if (xhttp.readyState < 4) {
            return;
          }
          if (xhttp.status != 200) {
            console.log('Error making AJAX call: %s', xhttp.status);
            return;
          }
          cb(JSON.parse(xhttp.responseText));
        };

        xhttp.open(method, url, true);
        xhttp.send();
      }

      var GameList = React.createClass({
        getInitialState: function() { 
          return {
            games: [],
            users: [],
          };
        },
        refresh: function(e) {
          let this_ = this;

          ajax_req('GET', 'games/info', function(res) {
            this_.setState(res);
          });
        },
        start: function(enemy_id) {
          let this_ = this;

          ajax_req('GET', 'games/start/' + enemy_id, function(res) {
            this_.setState(res);
          });
        },
        render: function() {
          let users_already_playing = [];
          let games = [];
          for (let game of this.state.games) {
            // Look up the other user
            var other_user = null;
            for (let player of game.players) {
              if (player.user_id != user_id) {
                for (let user of this.state.users) {
                  if (user.id == player.user_id) {
                    other_user = user;
                    break;
                  }
                }
                break;
              }
            }

            users_already_playing.push(parseInt(other_user.id));

            games.push(
              <tr key={game.id}>
                <td>{game.name}</td>
                <td>{other_user.username}</td>
                <td><a href={"game/" + game.id}>join</a></td>
              </tr>
            );
          }

          let users = [];
          for (let user of this.state.users) {
            let already_playing =
              users_already_playing.indexOf(parseInt(user.id)) >= 0;

            users.push(
              <div key={user.id}>
                {user.username}
                <input type="button" value="start game"
                  onClick={this.start.bind(null, user.id)}
                  disabled={already_playing} />
              </div>
            );
          }

          return (
            <div>
              <strong>games</strong>
              <table>
                <thead>
                  <tr>
                    <th>game name</th>
                    <th>playing against</th>
                    <th>join game</th>
                  </tr>
                </thead>
                <tbody>
                  {games}
                </tbody>
              </table>
              <hr />
              <strong>users</strong>
              {users}
              <input type="button" value="refresh" onClick={this.refresh} />
            </div>
          );
        },
      });

      var list = ReactDOM.render(<GameList />,
        document.getElementById('gamelist'));

      list.refresh();
    </script>
  </body>
</html>
