<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React</title>
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  </head>
  <body>
    <div id="gamelist"></div>
    <script type="text/babel">
      function ajax_req(method, url, cb) {
        let xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
          if (xhttp.readyState < 4) {
            return;
          }
          if (xhttp.status != 200) {
            console.log('Error making AJAX call: %s', xhttp.status);
            return;
          }
          cb(JSON.parse(xhttp.responseText));
        };

        xhttp.open(method, url, true);
        xhttp.send();
      }

      var GameList = React.createClass({
        getInitialState: function() { 
          return {
            games: [],
            users: [],
          };
        },
        refresh: function(e) {
          let this_ = this;

          ajax_req('GET', 'game_list', function(res_games) {
            ajax_req('GET', 'users', function(res_users) {
              this_.setState({
                games: res_games.games,
                users: res_users.users,
              });
            });
          });
        },
        render: function() {
          let games = [];
          for (let i = 0; i < this.state.games.length; i++) {
            games.push(
              <div key={i}>
                {this.state.games[i].name}
                <a href={"game/" + this.state.games[i].id}>join</a>
              </div>
            );
          }

          let users = [];
          for (let user of this.state.users) {
            users.push(
              <div key={user.id}>
                {user.username}
              </div>
            );
          }

          return (
            <div>
              <strong>games</strong>
              {games}
              <hr />
              <strong>users</strong>
              {users}
              <input type="button" value="refresh" onClick={this.refresh} />
            </div>
          );
        },
      });

      var list = ReactDOM.render(<GameList />,
        document.getElementById('gamelist'));

      list.refresh();
    </script>
  </body>
</html>
