<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>stars</title>
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  </head>
  <body>
    <div id="gamelist"></div>
    <script type="text/babel">
      var user_id = <%= user.id %>;
      var username = '<%= user.username %>';

      function ajax_req(method, url, data, cb) {
        let xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
          if (xhttp.readyState < 4) {
            return;
          }
          if (xhttp.status != 200) {
            console.log('Error making AJAX call: %s', xhttp.status);
            return;
          }
          cb(JSON.parse(xhttp.responseText));
        };

        xhttp.open(method, url, true);
        xhttp.setRequestHeader('Content-Type', 'application/json');
        if (data !== null) {
          xhttp.send(JSON.stringify(data));
        } else {
          xhttp.send();
        }
      }

      var GameList = React.createClass({
        getInitialState: function() { 
          return {
            games: [],
            users: [],
          };
        },
        refresh: function(e) {
          let this_ = this;

          ajax_req('GET', 'games/info', null, function(res) {
            this_.setState(res);
          });
        },
        new_game: function(e) {
          let this_ = this;

          ajax_req('POST', 'games/new', {
            name: this.refs.new_game_name.value,
            against: parseInt(this.refs.new_game_vs.value),
          }, function(res) {
            this_.setState(res);
          });
        },
        render: function() {
          let get_other_player = function(that, game) {
            for (let player of game.players) {
              if (player.user_id != user_id) {
                for (let user of that.state.users) {
                  if (user.id == player.user_id) {
                    return user;
                  }
                }
              }
            }
            return null;
          }

          let games = [];
          for (let game of this.state.games) {
            var other_user = get_other_player(this, game);

            let winner = 'undecided';
            if (game.state.winner !== undefined) {
              winner = game.state.winner == user_id ?
                username : other_user.username;
            }

            let join_link = '';
            if (game.state.winner === undefined) {
              join_link = (<a href={"game/" + game.id}>join</a>);
            }

            games.push(
              <tr key={game.id}>
                <td>{game.name}</td>
                <td>{other_user.username}</td>
                <td>{winner}</td>
                <td>{join_link}</td>
              </tr>
            );
          }

          let against = [];
          for (let user of this.state.users) {
            let already_playing = false;
            for (let game of this.state.games) {
              let other_user = get_other_player(this, game);
              if (other_user.id == user.id) {
                if (game.state.winner === undefined) {
                  already_playing = true;
                  break;
                }
              }
            }

            if (already_playing) {
              continue;
            }

            against.push(
              <option key={user.id} value={user.id}>{user.username}</option>
            );
          }

          let game_table = '';
          if (games.length > 0) {
            game_table = (
              <table>
                <thead>
                  <tr>
                    <th>game name</th>
                    <th>playing against</th>
                    <th>winner</th>
                    <th>join</th>
                  </tr>
                </thead>
                <tbody>
                  {games}
                </tbody>
              </table>
            );
          }

          return (
            <div>
              {game_table}
              <label htmlFor="new_game_name">new game name</label>
              <input id="new_game_name" ref="new_game_name" />
              <label htmlFor="new_game_vs">play against</label>
              <select id="new_game_vs" ref="new_game_vs">
                {against}
              </select>
              <input type="button" value="new game" onClick={this.new_game} />
            </div>
          );
        },
      });

      var list = ReactDOM.render(<GameList />,
        document.getElementById('gamelist'));

      list.refresh();
    </script>
  </body>
</html>
