<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React</title>
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  </head>
  <body>
    <div id="gamelist"></div>
    <script type="text/babel">
      var GameList = React.createClass({
        getInitialState: function() { 
          return {games: []};
        },
        refresh: function(e) {
          var xhttp = new XMLHttpRequest();
          var this_ = this;
          xhttp.onreadystatechange = function() {
            if (xhttp.readyState < 4) {
              return;
            }
            if (xhttp.status != 200) {
              console.log('Error reading game list: %s', xhttp.status);
              return;
            }
            this_.setState(JSON.parse(xhttp.responseText)); 
          };
          xhttp.open('GET', 'game_list', true);
          xhttp.send();
        },
        render: function() {
          var games = [];
          for (var i = 0; i < this.state.games.length; i++) {
            games.push(
              <div key={i}>
                {this.state.games[i].name}
                <a href={"game/" + this.state.games[i].id}>join</a>
              </div>
            );
          }
          return (
            <div>
              {games}
              <input type="button" value="refresh" onClick={this.refresh} />
            </div>
          );
        },
      });

      var list = ReactDOM.render(<GameList />,
        document.getElementById('gamelist'));

      list.refresh();
    </script>
  </body>
</html>
