<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React</title>
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  </head>
  <body>
    <div id="gamelist"></div>
    <script type="text/babel">
      var user_id = <%= user.id %>;
      var username = '<%= user.username %>';

      function ajax_req(method, url, cb) {
        let xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
          if (xhttp.readyState < 4) {
            return;
          }
          if (xhttp.status != 200) {
            console.log('Error making AJAX call: %s', xhttp.status);
            return;
          }
          cb(JSON.parse(xhttp.responseText));
        };

        xhttp.open(method, url, true);
        xhttp.send();
      }

      var GameList = React.createClass({
        getInitialState: function() { 
          return {
            games: [],
            users: [],
          };
        },
        refresh: function(e) {
          let this_ = this;

          ajax_req('GET', 'games/info', function(res) {
            this_.setState(res);
          });
        },
        start: function(enemy_id) {
          let this_ = this;

          ajax_req('GET', 'games/start/' + enemy_id, function(res) {
            this_.setState(res);
          });
        },
        render: function() {
          let get_other_player = function(that, game) {
            for (let player of game.players) {
              if (player.user_id != user_id) {
                for (let user of that.state.users) {
                  if (user.id == player.user_id) {
                    return user;
                  }
                }
              }
            }
            return null;
          }

          let games = [];
          for (let game of this.state.games) {
            var other_user = get_other_player(this, game);

            let winner = 'undecided';
            if (game.winner !== undefined) {
              winner = game.winner == user_id ? username : other_user.username;
            }

            let join_link = '';
            if (game.winner === undefined) {
              join_link = (<a href={"game/" + game.id}>join</a>);
            }

            games.push(
              <tr key={game.id}>
                <td>{game.name}</td>
                <td>{other_user.username}</td>
                <td>{winner}</td>
                <td>{join_link}</td>
              </tr>
            );
          }

          let users = [];
          for (let user of this.state.users) {
            let already_playing = false;
            for (let game of this.state.games) {
              let other_user = get_other_player(this, game);
              if (other_user.id == user.id) {
                if (game.winner === undefined) {
                  already_playing = true;
                  break;
                }
              }
            }

            users.push(
              <div key={user.id}>
                {user.username}
                <input type="button" value="start game"
                  onClick={this.start.bind(null, user.id)}
                  disabled={already_playing} />
              </div>
            );
          }

          return (
            <div>
              <strong>games</strong>
              <table>
                <thead>
                  <tr>
                    <th>game name</th>
                    <th>playing against</th>
                    <th>winner</th>
                    <th>join</th>
                  </tr>
                </thead>
                <tbody>
                  {games}
                </tbody>
              </table>
              <hr />
              <strong>users</strong>
              {users}
              <input type="button" value="refresh" onClick={this.refresh} />
            </div>
          );
        },
      });

      var list = ReactDOM.render(<GameList />,
        document.getElementById('gamelist'));

      list.refresh();
    </script>
  </body>
</html>
