<html>
  <body>
    Sorry! There was a problem completing your registration. The verification
    link you used may be expired or invalid or a server could be down or the
    world might be ending. Please <a href="/register">try again</a>.
  </body>
</html>
