#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.permanent {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #def;
  border: solid 2px #acf;
}

.permanent div {
  text-align: center;
}

.permanent input {
  width: 100%;
}

.permanent .title {
  font-weight: bold;
}

.generator {
  background-color: #dfe;
  border: solid 2px #afc;
}

.black_hole {
  background-color: #000;
  border: solid 2px #aaa;
  color: #fff;
}

div.player_separator {
  background-color: #cde;
  border: solid 2px #def;
  padding: 1px;
  margin: 23px 0px;
}

div.hand_separator {
  background-color: #ddd;
  border: solid 2px #eee;
  padding: 1px;
  margin: 8px 0px;
}

.power {
  color: #0b3;
  font-weight: bold;
}

.permanent .shields input {
  width: auto;
}

.effect {
  color: #f34;
  font-style: italic;
}
