body {
  margin: 0px;
  background-size: cover;
  background-image: url('img/background_1.jpg');
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hud {
  position: fixed;
  width: 100%;
  background-color: #333;
  color: #fff;
}

#hud {
  border-bottom: solid 2px #bbb;
}

#hud-bottom {
  display: flex;
  border-top: solid 2px #bbb;
  height: 250px;
  bottom: 0px;
}

#hud-bottom div {
  flex: 1;
}

#hud-bottom #log {
  border-left: solid 2px #aaa;
  overflow-y: scroll;
  height: 250px;
}

#hud-bottom #hand {
  border-left: solid 2px #aaa;
}

#hud-bottom #hand #cards {
  overflow-y: scroll;
  height: 215px;
}

#hud-bottom #hand #cards div {
  border-bottom: solid 2px #aaa;
}

#hud-bottom #hand #cards div:after {
  clear: both;
  content: "";
  display: block;
}

#hud-bottom #hand #cards div button {
  float: right;
}

.hud .stats {
  float: right;
}

.permanent {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: #def;
  border: solid 2px #acf;
}

.permanent div {
  text-align: center;
}

.permanent input {
  width: 100%;
}

.permanent .title {
  font-weight: bold;
}

.generator {
  background-color: #dfe;
  border: solid 2px #afc;
}

.black_hole {
  background-color: #000;
  border: solid 2px #aaa;
  color: #fff;
}

div.player_separator {
  background-color: #cde;
  border: solid 2px #def;
  padding: 1px;
  margin: 23px 0px;
  visibility: hidden;
}

div.hand_separator {
  background-color: #ddd;
  border: solid 2px #eee;
  padding: 1px;
  margin: 8px 0px;
  visibility: hidden;
}

.power {
  color: #0b3;
  font-weight: bold;
}

.permanent .shields input {
  width: auto;
}

.effect {
  color: #f34;
  font-style: italic;
}

.chat_container {
  position: relative;
}

.chat {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  border-left: solid 2px #aaa;
}

.chat .messages {
  overflow-y: scroll;
  height: 220px;
  width: 100%;
}

.chat form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.chat form span {
  display: block;
  overflow: hidden;
  padding: 0 5px;
}

.chat form span input {
  width: 100%;
}

.chat form input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chat form button {
  float: right;
}

img.card {
  width: 210px;
  height: 200px;
}

img.sel {
  filter: brightness(1.2) sepia(100%);
}

img.card:hover {
  filter: drop-shadow(0px 0px 20px blue);
}

img.sel:hover {
  filter: brightness(1.5) sepia(200%) drop-shadow(0px 0px 20px blue);
}
