(function(exports){
  exports.externalUrl = 'https://stars.local/',

  exports.mail = {
    transport: {
      host: 'localhost',
      port: 25,
      tls: {
        rejectUnauthorized: false,
      }
    },
    from: '"stars!" <vagrant@stars.local>',
  };
})(typeof exports === 'undefined' ? this['config'] = {} : exports);
